---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact | Riccardo Fracchioni">

<h1>Contact</h1>


<p>
For academic inquiries and collaborations:
</p>


<p>
Email:
<br />
your.email@example.com
</p>


<p>
You can also find me on:
</p>


<ul>

<li>
Google Scholar
</li>

<li>
ORCID
</li>

<li>
GitHub
</li>

</ul>


</Layout>