---
import Layout from "../layouts/Layout.astro";
---

<Layout title="CV | Riccardo Fracchioni">

<h1>Curriculum Vitae</h1>


<h2>Education</h2>

<p>
<strong>University of Turin</strong>
<br />
MA in Theoretical Philosophy, 110/110 cum laude.
</p>


<p>
BA in Philosophy, 110/110.
</p>


<h2>Research Interests</h2>

<ul>
<li>Philosophy of Artificial Intelligence</li>
<li>Philosophy of Science</li>
<li>Machine Learning and scientific methodology</li>
<li>Large Language Models</li>
</ul>


<h2>Professional Experience</h2>

<p>
Publishing and literary agency work alongside academic research.
</p>


</Layout>