---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Publications | Riccardo Fracchioni">

<h1>Publications</h1>

<p>
A list of publications, presentations, and research outputs.
</p>


<h2>Publications</h2>

<ul>

<li>
<strong>
Assessment of Semantic Competence in Large Language Models
</strong>
<br />
Master's thesis, University of Turin.
</li>

</ul>


<h2>Presentations</h2>

<ul>

<li>
Research presentations on philosophy of AI and machine learning.
</li>

</ul>


</Layout>