---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Talks | Riccardo Fracchioni">

<section class="page-header">

  <h1>Talks</h1>

  <p class="page-intro">
    A selection of conference presentations, invited lectures, and academic talks.
  </p>
</section>

<section class="talk-list">

  <article class="talk-item">

    <div class="talk-date">
      <span class="day">04</span>
      <span class="month">May</span>
      <span class="year">2026</span>
    </div>

    <div class="talk-content">

      <h2>
        "Three Dimensions of LLMs' Understanding and Why We Confuse Them"
      </h2>

      <p class="talk-venue">
        6th International Conference on Philosophy of Mind<br />
        University of Porto, Porto, Portugal
      </p>

    </div>

  </article>

</section>

</Layout>