<footer>

<p>
© {new Date().getFullYear()} Riccardo Fracchioni
</p>

</footer>


<style>

footer {

max-width:850px;
margin:80px auto 30px;
padding:20px 25px;

border-top:1px solid #ddd;

color:#777;
font-size:0.9rem;

}

</style>