<nav>

<div class="nav-container">

<a href="/" class="logo">
Riccardo Fracchioni
</a>

<div class="links">
<a href="/">Home</a>
<a href="/research">Research</a>
<a href="/publications">Publications</a>
<a href="/cv">CV</a>
<a href="/contact">Contact</a>
</div>

</div>

</nav>

<style>

nav {
    border-bottom: 1px solid #ddd;
    padding: 25px 0;
}

.nav-container {
    max-width: 850px;
    margin: auto;
    padding: 0 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: Georgia, serif;
}

.links {
    display: flex;
    gap: 25px;
}

.links a {
    color: #555;
}

</style>

<style>

nav {
    border-bottom: 1px solid #ddd;
    padding: 25px 0;
}


.nav-container {

max-width: 850px;
margin: auto;
padding: 0 25px;

display:flex;
justify-content:space-between;
align-items:center;

}


.logo {

font-family: Georgia, serif;
font-size:1.2rem;

}


.links {

display:flex;
gap:25px;

}


.links a {

font-size:0.95rem;
color:#555;

}


.links a:hover {

color:#000;

}

</style>